@charset "utf-8";
/* CSS Document */

html,
body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#content, #wrap{
	margin: 0;
	padding: 0;
	width: 1280px;
	height: 800px;
	overflow: hidden;
}

#page1{	
	width: 100%;
	height: 100%;	
	margin: 0;
	padding: 0;	
	display: block;
	background-image: url(../imagenes/principal.jpg);
	background-size: 100% 100%;
}

#page2{
	margin: 0;
	padding: 0;	
	display: none;
	background-color: black;
}

#avanzaBoton{
	width: 120px;
	height: 42px;
	border: none;
	color: white;
	background-image: url(../imagenes/boton.png);
	background-color: transparent;
}
#opciones ul li:last-child{
	float: right;
}
#siguiente{
	width: 153px;
	height: 39px;
	border: none;
	color: white;
	background-image: url(../imagenes/siguiente.png);
	background-repeat: no-repeat;
	background-color: transparent;
	margin-top: 23px;
	display: none;
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#OPCION1{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(../imagenes/opcion1.jpg);
	background-size: 100% 100%;
}
#OPCION2{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/opcion2.jpg);
	background-size: 100% 100%;
}
#OPCION3{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/opcion3.jpg);
	background-size: 100% 100%;
}
#OPCION4{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/opcion4.jpg);
	background-size: 100% 100%;
}
#OPCION5{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/opcion5.jpg);
	background-size: 100% 100%;
}
#OPCION6{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/opcion6.jpg);
	background-size: 100% 100%;
}
#OPCION7{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/opcion7.jpg);
	background-size: 100% 100%;
}
#OPCION8{
	width: 100%;
	height: 100%;
	display: none;
	background-image: url(../imagenes/cierre.jpg);
	background-size: 100% 100%;
}



/*- - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - -*/
#opciones{
	width: 600px;
	margin-top: -154px;
}
#opciones li{
	float: left;
	list-style:none
}
#liston{
	width: 300px;
	margin-top: -103px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#cinta1{
	float: left;
	opacity: 0;
}
#cinta2{
	float: left;
	opacity: 0;
}
#cinta3{
	float: left;
	opacity: 0;
}
#intOpciones{
	width: 500px;
	margin-top: 69px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#intOpciones li{
	float: left;
	list-style:none
}
#negraIn{
	width: 100px;
	height: 100px;
	background-image: url(../imagenes/cinta_negra.png);
	background-repeat: no-repeat;
}
#negraIn:hover{
	border-radius: 12px;
	-webkit-box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
	-moz-box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
	box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
}
#negraOff{
	width: 100px;
	height: 100px;
	background-image: url(../imagenes/cinta_negra_off.png);
	background-repeat: no-repeat;
}
#verdeIn{
	width: 100px;
	height: 100px;
	background-image: url(../imagenes/cinta_verde.png);
	background-repeat: no-repeat;
}
#verdeIn:hover{
	border-radius: 12px;
	-webkit-box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
	-moz-box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
	box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
}
#verdeOff{
	width: 100px;
	height: 100px;
	background-image: url(../imagenes/cinta_verde_off.png);
	background-repeat: no-repeat;
}
#naranjaIn{
	width: 100px;
	height: 100px;
	background-image: url(../imagenes/cinta_naranja.png);
	background-repeat: no-repeat;
}
#naranjaIn:hover{
	border-radius: 12px;
	-webkit-box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
	-moz-box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
	box-shadow: 1px 4px 21px 4px rgba(0,0,0,0.63);
}
#naranjaOff{
	width: 100px;
	height: 100px;
	background-image: url(../imagenes/cinta_naranja_off.png);
	background-repeat: no-repeat;
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#espacio{
	height: 567px;
}
#sinA{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_v1.png); 
	background-position-y: 35px;
}
#conA{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_v2.png); 
	background-position-y: 35px;
}

#sinB{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_x1.png); 
	background-position-y: 35px;
}
#conB{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_x2.png); 
	background-position-y: 35px;
}

#sinC{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_y1.png); 
	background-position-y: 35px;
}
#conC{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_y2.png); 
	background-position-y: 35px;
}

#sinD{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_z1.png); 
	background-position-y: 43px;
}
#conD{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_z2.png); 
	background-position-y: 43px;
}

#sinE{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_t1.png); 
	background-position-y: 35px;
}
#conE{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_t2.png); 
	background-position-y: 35px;
}

#sinF{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_u1.png); 
	background-position-y: 35px;
}
#conF{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_u2.png); 
	background-position-y: 35px;
}

#sinG{	
	width:100%; 
	height: 567px; 
	background-image: url(../imagenes/_a1.png); 
	background-position-y: 40px;
}
#conG{	
	width:100%; 
	height: 567px;
	background-image: url(../imagenes/_a2.png); 
	background-position-y: 40px;
}
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#ganaste{
	display: none;
	width: 315px;
	position: absolute;
	z-index: 600;
	top: 29%;
	left: 34%;
}
#perdiste1, #perdiste2, #perdiste3{
	display: none;
	width: 315px;
	position: absolute;
	z-index: 600;
	top: 29%;
	left: 34%;	
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.avanza{
	background-color: red;
}


#optTouch1{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;
	position: absolute;
	top: 305px;
	left: 188px;
}
#optTouch2{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;
	position: absolute;
	top: 305px;
	left: 188px;
}
#optTouch3{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;	
	position: absolute;
	top: 327px;
	left: 188px;
}
#optTouch4{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;
	position: absolute;
	top: 382px;
	left: 321px;
}
#optTouch5{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;
	position: absolute;
	top: 198px;
	left: 188px;
}
#optTouch6{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;
	position: absolute;
	top: 250px;
	left: 131px;
}
#optTouch7{
	background-image: url(../imagenes/lugar.png);
	width: 200px;
	height: 200px;
	display: none;	
	position: absolute;
	top: 145px;
	left: 292px;
}
.puff {
	position: absolute;
	width: 0px;
	height: 0px;
}
#smokeSpawnPoint{
	position: absolute;
	z-index: 600;
	top: 272px;
	left: 245px;
}
#smokeSpawnPoint2{
	position: absolute;
	z-index: 600;
	top: 272px;
	left: 320px;
}
#smokeSpawnPoint3{
	position: absolute;
	z-index: 600;
	top: 272px;
	left: 820px;
}

#llama1{ 
	background-image: url(../imagenes/fuego1.png);
	position: absolute;
	width: 45px;	
	height: 52px;
	z-index: 600;
	top: 272px;
	left: 206px;}

#llama1roll{
	background-image: url(../imagenes/fuego1_roll.png)!important;
	position: absolute;
	width: 45px;	
	height: 52px;
	z-index: 600;
	top: 272px;
	left: 206px;
	}


#llama2{ 
	background-image: url(../imagenes/fuego2.png);
	position: absolute;
	width: 60px;	
	height: 69px;
	z-index: 600;
	top: 195px;
	left: 286px;}

#llama2roll{
	background-image: url(../imagenes/fuego2_roll.png)!important;
	position: absolute;
	width: 60px;	
	height: 69px;
	z-index: 600;
	top: 195px;
	left: 286px;
	}
